body.trend {
  font-family: "Guardilostra", monospace;
  color: rgb(184, 153, 53);
}
.trend a.toggleColors {
  color: #928f92;
}
.trend a {
  color: #dfc260;
}
.trend .options li a.toggleColors span:before {
  content: 'Revest ';
}
.vn.trend .options li a.toggleColors span:before {
  content: 'Đổi ';
}

.trend a:hover {
  color: rgba(228, 130, 31, 0.47);
}
.trend .options {
  background: #ffe695;
}

.trend .back-to-top {
  background: #f3ca47;
}

.trend #preloader:before {
  border: 6px solid #f3ca47;
}

.trend .nav-menu a,
.trend .nav-menu a:focus {
  color: #eacd7c;
  background: #fff1c4;
}

.trend .nav-menu a span,
.trend .nav-menu a:focus span {
  color: #dfc260;
}

.trend .nav-menu a:hover,
.trend .nav-menu .active,
.trend .nav-menu .active:focus,
.trend .nav-menu li:hover>a {
  color: #b89935;
  background: #dfc260;
}

.trend .nav-menu a:hover span,
.trend .nav-menu .active span,
.trend .nav-menu .active:focus span,
.trend .nav-menu li:hover>a span {
  color: rgba(236, 147, 75, 0.69);
}

.trend .mobile-nav-toggle i {
  color: #dfc260;
}

.trend .mobile-nav-active .mobile-nav-toggle {
  background-color: rgba(255, 207, 167, 0.69);
}


.trend #home h1 {
  color: #dfc260;
}

.trend #home p {
  color: #dfc260;
}

.trend #home p span {
  color: rgb(243, 202, 71);
}

.trend #home .social-links a {
  color: #dfc260;
}

.trend #home .social-links a:hover {
  color: rgba(228, 130, 31, 0.47);
}

.trend .section-title h2 {
  color: #dfc260;
}

.trend .section-title h2::after {
  background: rgba(228, 130, 31, 0.47);
}

.trend .about .content h3 {
  color: #dfc260;
}

.trend .about .content ul i {
  color: #dfc260;
}


.trend .skills .progress .skill {
  color: #dfc260;
}

.trend .skills .progress-bar-wrap {
  background: rgba(255, 207, 167, 0.69);
}

.trend .skills .progress-bar {
  background-color: #f3ca47;
}

.trend .resume .resume-title {
  color: #dfc260;
}

.trend .resume .resume-item {
  border-left: 2px solid #f3ca47;
}

.trend .resume .resume-item h4 {
  color: #dfc260;
}

.trend .resume .resume-item::before {
  border: 2px solid #eacd7c;
}

.trend .recommendations .swiper-pagination .swiper-pagination-bullet {
  border: 1px solid rgb(243, 202, 71);
}

.trend .recommendations .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #dfc260;
}

.trend .contact .info i {
  color: #b89935;
  background: #eacd7c;
}

.trend .contact .info h4 {
  color: #dfc260;
}

.trend .contact .info p {
  color: rgba(228, 130, 31, 0.47);
}

.trend .contact .info .email:hover i,
.trend .contact .info .address:hover i,
.trend .contact .info .phone:hover i {
  background: #dfc260;
}

.trend #footer {
  color: #dfc260;
}

.trend #footer .social-links a {
  background: #f3ca47;
}

.trend #footer .social-links a:hover {
  background: #dfc260;
}
